.NavChoice {
    margin-bottom: 10px;
}

.NavChoice button {
    float: left;
    color: #EAA81B;
    height: 100%;
    width: 30%;
    padding: 16px 10px;
    font-weight: bold;
    background-color: #7D0000;
}

.NavChoice button:focus {
    background-color: #7D0000;
    border-bottom: 4px solid #EAA81B;
}
